@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&family=Source+Sans+Pro:wght@300;400&display=swap');

:root {
  --primary-color: #2178f1;
  --font-color: #292b2c;
  --background-color: #fafafa;
}

[data-theme='dark'] {
  --primary-color: #2178f1;
  --font-color: #f2f2f2;
  --background-color: #0f0f0f;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Poppins, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: var(--background-color);
  color: var(--font-color);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}
